.mini-order-display {
    position: absolute;
    bottom: 10rem;
    z-index: 2001;
    display: flex;
    align-items: center;
    gap: 2rem;
    transform: scale(.7);
}

.mini-order-display .burger,
.mini-order-display .drink ,
.mini-order-display .side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-order-display .side{
    min-width: 5rem;
    min-height: 17rem;
}

.mini-order-display .drink .FillOverlay {
    position: absolute;
}

.relative-container {
    position: relative;
    display: inline-block;

}
