.mini-order-display {
    position: absolute;
    bottom: 15rem;
    z-index: 2001;

    .drink, .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .drink {
        .CupContainer {
            height: auto;
            width: auto;
        }

        .FillOverlay {
            bottom: auto;
            position: absolute;
        }
    }
}

.relative-container {
    position: relative;
    display: inline-block;
}
