.mini-order-display {
    position: absolute;
    align-items: center;
    gap: 2rem;
}

.mini-order-display .drink .FillOverlay {
    position: absolute;
}

.relative-container {
    position: relative;
    display: inline-block;

}
