.CustomerOrder {
    text-align: center;
}

.button {
    font-size: 32px;
}

.orderDisplay {
    display: flex;
    flex-direction: row;
}

.burgerOrderDisplay {
    margin-top: -50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.foodItem {
    margin: -57px;
    z-index: 1;
}

.foodItem img{
    width: 200px;
    margin-top: 100px;

}

.drinkLayer {
    width: 100%;
    min-height: 30px;
    text-align: center;
    line-height: 20px;
    color:#ffffff;
}
