.CustomerOrder {
    text-align: center;
}

.button {
    font-size: 32px;
}

.orderDisplay {
    margin-top: -50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.foodItem {
    margin: -60px;
    z-index: 1;
}

.foodItem img{
    width: 200px;
    margin-top: 100px;

}
