.DrinkBuilder{
    text-align: center;
}

.DrinkButtons{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.DrinkButtons button{
    min-width: 120px;
    min-height: 120px;
    margin: 10px;
    padding: 0;
    border: 3px solid #322e2e;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    font-size: 32px;
}
.DrinkButtons button:active {
    transform: scale(.95);
}

.DrinkButtons button:disabled {
    cursor: not-allowed;
    transform:none;
}

.AddIceButton {
    min-width: 120px;
    min-height: 120px;
    margin: 10px;
    padding: 0;
    border: 1px solid #322e2e;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    font-size: 32px;
}

.ClearCupButton {
    min-width: 120px;
    min-height: 120px;
    margin: 10px;
    padding: 0;
    border: 1px solid #322e2e;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    font-size: 24px;
}

.Cup{
    margin: 20px auto;
    width: 150px;
    border: 2px solid #000000;
    border-radius: 15px;
    background-color: #ffffff;
    display:flex;
    flex-direction: column-reverse;
    overflow:hidden;
    position:relative;
}

.Ice{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    z-index:10;
}

.Filling{
    width: 100%;
    position:absolute;
    bottom: 0;
    transition: height 0.3s ease, background-color 0.3s ease;
}

.FillCupButton{
    min-width: 120px;
    min-height: 120px;
    margin: 10px;
    padding: 0;
    border: 1px solid #322e2e;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    font-size: 24px;
}

.FillCupButton:hover {
    border: 3px solid #322e2e;
}

.ClearCupButton:hover {
    border: 3px solid #322e2e;
}

.FillCupButton:active {
    transform: scale(.95);
}

.ClearCupButton:active {
    transform: scale(.95);
}


.CupSizeButtons:hover{
    border: 3px solid #322e2e;
}

.CupSizeButtons:active {
    transform: scale(.95);
}

.SendButton{
    min-width: 120px;
    min-height: 40px;
    margin: 10px;
    padding: 0;
    border: 1px solid #322e2e;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}

.CupSizeButtons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 120px;
    margin: 10px;
    border: 1px solid #322e2e;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}

.CupSizeImageSmall{
    width: 85px;
    height: 85px;
    object-fit: contain;
}
.CupSizeImageMedium{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.CupSizeImageLarge{
    width: 115px;
    height: 115px;
    object-fit: contain;
}

.ButtonHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.FillCupImage{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
