.manager-actions-container {
    border: 1px solid #ccc;
    padding: 1rem;
    max-width: 500px;
}

.manager-actions-buttons {
    margin-bottom: 1rem;
    button {
        margin-right: 0.5rem;
    }
}

.manager-action-entry {
    margin-bottom: 0.25rem;
}

.MenuButtons{
    min-width: 120px;
    min-height: 40px;
    margin: 10px;
    padding: 0;
    border: 1px solid #322e2e;
    background: #ffffff;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}
