.ScoreText {
    color: white;
    background-color: #697a53;
    text-align: center;
    align-content: center;
    margin: 0;
    position: absolute;
    top: 1.0rem;
    left: 1.0rem;
    padding: 1.0rem
}
