.app-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.columns {
    display: flex;
    width: 100%;
    gap: 2rem;
}


.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 700px;
    width: 50%;
}

.Score {
    font-size: 36px;
    border-radius: 6px;
    color: white;
    background-color: #9dae88;
    border: 2px solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin-top: 10px;
    padding: 10px;
}

.receive-order-btn {
    width: 20%;
    margin-left: 270px;
    margin-top: 100px;
    position: fixed;
}
