.app-container {
    height: 100vh;
    box-sizing: border-box;
    align-content: center;
    justify-items: center;
}

.HelpButton {
    font-size: 36px;
    border-radius: 6px;
    color: white;
    background-color: #697a53;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    line-height: 1;
    :active {
        transform: scale(0.95);
    }
    :hover {
        cursor: pointer;
    }
}
