.app-container {
    background-image: url('../public/images/customers/empty.png');
    height: 100vh;
    box-sizing: border-box;
    align-content: center;
    justify-items: center;
}

.customer-image {
    width: 100%;
}

.send-order {
    cursor: pointer;
    background-color: cornflowerblue;
    border: none;
    color: white;
    position: absolute;
    bottom: 1.0rem;
    right: 1.0rem;
    height: 5.0rem;
    width: 15.0rem;
    font-size: 2.0rem;
}

.send-order::after {
  content: " \27A4";
}
