---
name: Lint & Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  lint_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          ref: ${{ github.head_ref }}

      - name: Install uv
        uses: astral-sh/setup-uv@22695119d769bdb6f7032ad67b9bca0ef8c4a174  # v5.4.0
        with:
          version: "0.5.4"

      - name: Install python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
        with:
          python-version-file: "pyproject.toml"

      - name: Install project
        run: uv sync --all-extras --dev

      - name: Cache pre-commit hooks
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # 4.2.3
        env:
          cache-name: cache-pre-commit
        with:
          # https://pre-commit.com/#managing-ci-caches
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Run pre-commit
        run: uv run pre-commit run --all-files
      - name: Run pytest with coverage.py
        run: uv run pytest
